<nav>
  <div class="header-top">
    <div class="container">
      <div class="left">
        <ul class="main-links">
          <li><a routerLink="/company">Company</a></li>
          <li><a routerLink="/projects">Projects</a></li>
          <li class="mobile-hide"><a routerLink="/technologies">Technologies</a></li>
          <li class="mobile-hide"><a routerLink="/about">About</a></li>
          <li class="desktop-hide"><a routerLink="/contact">Contact</a></li>
          <li class="desktop-hide"><a routerLink="/careers">Careers</a></li>
        </ul>
      </div>
      <div class="right mobile-hide">
        <ul class="main-links">
          <li><a routerLink="/contact/">Contact</a></li>
          <li><a routerLink="/careers/">Careers</a></li>
          <li><a routerLink="/support/">Support</a></li>
        </ul>
      </div>

    </div>
  </div>
  <div class="header-bottom">
    <div class="container">
      <div class="logo">
        <a routerLink="/">
        </a>
      </div>

      <div class="menu-items">
        <div class="menu-left">

          <a routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Home</a>
          <a routerLink="/solutions" routerLinkActive="active" class="dropbtn">Solutions</a>
          <a style="text-decoration: underline;color:blue;" (click)="navigateToSolutions()">Solutions
            Programmatically</a>
          <a class="menu-title" routerLink="/features/">Features</a>
          <a class="desktop-hide" routerLink="/support">Support</a>
          <a class="desktop-hide" routerLink="/technologies">Technologies </a>
          <a class="desktop-hide" routerLink="/about/">About</a>
          <a routerLink="/blogs" routerLinkActive="active">Blog</a>
          <a class="menu-title" routerLink="/insights">Insights
            <div class="fly-item"><span>News</span></div>
          </a>


        </div>
      </div>
    </div>
  </div>


  <div style="display:none;">
    <div class="dropdown-content">
      <div
        style="background-color:#f0f3fa;padding:23px 70px;display:flex;gap:20px;align-items:center;justify-content:center"
        class="fullscreen-data">
        <div class="header-popup-tab"
             style="border-radius:16px;height:200px;width:25%;box-shadow:0 0 18px rgba(36, 106, 255, .08);padding:35px 24px;background-repeat: no-repeat;background-size: contain;background-position: right bottom;background-size: 150px;">
          {{/* <img style="height: 140px;width:100%;"> */}}
          <h4 style="font-size:17px;width:100%">Logistics and Transportation</h4>
          <p style="font-size:13px;font-weight:500;color:gray;">Elevate your business with our transformative
            software solutions, optimizing processes, enhancing efficiency, and driving innovation across
            your organization.</p>
          <img style="height:20px;display:block;margin:10px 0;background-color:white;border-radius: 10px; padding:10px;"
          ></div>
        <div class="header-popup-tab"
             style="background-color:white;border-radius:16px;height:200px;width:70%;;box-shadow:0 0 18px rgba(36, 106, 255, .08);display:flex;align-items: center;">
          <div style="display: flex;;flex-direction: column;width: 49%;height: 100%;"></div>
          <div style="width: 1px;height: 80%;background-color: #f0f3fa;"></div>
          <div style="display: flex;;flex-direction: column;width: 49%;height: 100%;"></div>
        </div>
      </div>
    </div>
  </div>

</nav>



