<!-- Footer Logo-->
<div class="footer">
  <div class="container">
    <div class="footer-logo">
    </div>
  </div>
</div>

<!-- Footer List -->
<div class="footer">
  <div class="container">
    <div class="footer-list">
      <div class="list-item">
        <h3>SOLUTIONS</h3>
        <p style="color: #007bff">INDUSTRIES</p>
        <ul>
          <li><a href="/solutions/sectors/banking-and-finance/">Banking & Financial
            Services</a></li>
          <li><a href="/solutions/sectors/telecommunication/">Telecommunication</a></li>
          <li><a href="/solutions/sectors/healthcare/">Healthcare</a></li>
          <li><a href="/solutions/sectors/government-solutions-/">Government Solutions</a>
          </li>
          <li><a href="/solutions/sectors/transformation-solutions/">Transformation
            Solutions</a></li>
          <li><a href="/solutions/sectors/retail-systems/">Retail</a></li>
          <li><a href="/solutions/sectors/real-estate/">Real Estate</a></li>
        </ul>

      </div>
      <div class="list-item">

        <h3>SYSTEM</h3>
        <p style="color: #007bff">FEATURES</p>
        <ul>
          <li><a href="/features/?tag=Communication">Communication</a></li>
          <li><a href="/features/?tag=Compliance%20and%20Regulations">Compliance and
            Regulations</a></li>
          <li><a href="/features/?tag=Integration">Integration</a></li>
          <li><a href="/features/?tag=Reporting%20and%20Analytics">Reporting and
            Analytics</a></li>
          <li><a href="/features/?tag=Security">Security</a></li>
          <li><a href="/features/?tag=Testing%20and%20Quality%20Assurance">Testing and
            Quality Assurance</a></li>
          <li><a href="/features/?tag=User%20Management">User Management</a></li>
        </ul>

      </div>
      <div class="list-item">

        <h3>Solutions</h3>
        <p style="color: #007bff">PRODUCTS</p>
        <ul>
          <li><a href="/solutions/products/web-development/">Web Development</a></li>
          <li><a href="/solutions/products/mobile-app-development/">Mobile App
            Development</a></li>
          <li><a href="/solutions/products/devops/">Devops</a></li>
          <li><a href="/solutions/products/testing-and-quality-assurance/">Testing and
            Quality Assurance</a></li>
          <li><a href="/solutions/products/automation-services/">Automation
            Services.</a></li>
          <li><a href="/solutions/products/cloud-services-and-solutions/">Cloud
            Services and Solutions</a></li>

        </ul>

      </div>
      <div class="list-item">
        <h3>Company</h3>
        <p style="color: #007bff">OVERVIEW</p>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/features/">Features</a></li>
          <li><a href="/blogs/">Blogs</a></li>
          <li><a href="/insights/">Insights</a></li>
          <li><a href="/technologies/">Technologies</a></li>
          <li><a href="/solutions/">Solutions</a></li>
        </ul>
      </div>
      <div class="list-item">
        <h3>WORK WITH US</h3>
        <p style="color: #007bff">CONNECT</p>
        <ul>
          <li><a href="/about/">About Us</a></li>
          <li><a href="/careers/">Careers</a></li>
          <li><a href="/contact/">Contact Us</a></li>
          <li><a href="/support/">Support</a></li>
          <li><a href="/company/">Why Us</a></li>


        </ul>

      </div>
    </div>

  </div>
</div>

<!-- Footer Subscribe -->
<div class="footer">
  <div class="container">
    <div class="footer-subscribe">
      <h4>Get The Latest News:</h4>
      <input type="email" placeholder="Enter your email ">
      <button>Subscribe</button>
      <p>By submitting this registration, I acknowledge that
         will handle my personal details as
        outlined in <a href="/policy" style="font-weight: bold; text-decoration: underline">
           Policies</a>
        I also agree to my information being shared with
        associated event
        vendors as explained
        <a href="/policy/privacy/"
                        style="font-weight: bold; text-decoration: underline">Privacy Policy</a>
        . I understand that I can modify or remove my consent at any time
        by
        updating my preferences here</p>
    </div>
  </div>
</div>

<!-- Footer Bottom -->
<div class="footer">
  <div class="container">
    <div class="footer-bottom">
      <div class="legal">
        <p>&copy; <span id="js-year"></span>
          <noscript>
            <span>&copy; </span>
          </noscript>
        </p>
        <div class="links">
          <a href="/policy/terms-of-use/">Terms of Use</a>
          <a href="/policy/privacy/">Privacy Policy</a>
          <a href="/policy/cookies/">Cookie Policy</a>
        </div>
      </div>

    </div>
  </div>
</div>


<script>
  document.getElementById("js-year").innerHTML = new Date().getFullYear();
</script>
<script src="/js/bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
