<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<style>
  body{
    background-color: rgba(220, 226, 255, 0.25);
  }
</style>

<app-header></app-header>
<div class="container">
  {{ doExampleFunction() }}
  {{ 20 + 20 }}
  {{ title }}
  <br>
  <!-- Property binding -->
  <img [src]="imageUrl" alt="Placeholder Image">
  <br>
  <img [src]="imageUrl" [hidden]="displayImage" alt="Placeholder Image">
  <br>
  <input type="text" (mouseover)="onMouseOver()" (input)="onWrite($event)">
  <p [textContent]="theText"></p>


  <!-- Two way data binding -->

  <input [(ngModel)]="twoWayBindingText" type="text">
  <p>{{ twoWayBindingText }}</p>


  <!--  Directives  -->
  <!--  ngFor  -->
  <ul style="display: flex;gap: 15px;">
    <li *ngFor="let i of [1, 2, 3, 4, 5]">{{ i }}</li>
  </ul>
  <ul style="display: flex;gap: 15px;">
    <li *ngFor="let item of items">{{ item }}</li>
  </ul>

  <ul style="display: flex;gap: 15px;font-weight: bold">
    <li *ngFor="let product of products">
      <h3>{{ product.name }}</h3>
      <p>{{ product.price }}</p>
      <p [ngStyle]="{color:product.isAvailable ? 'green': 'red'}">{{ product.isAvailable }}</p>
      <div>
        <button (click)="product.isAvailable = !product.isAvailable">Toggle Availability</button>
        <button *ngIf="product.isAvailable">Buy Now</button>
      </div>


    </li>
  </ul>


  <!-- ngIf -->

  <input type="text" [(ngModel)]="searchInputText">
  <span style="display: flex" *ngIf="searchInputText != ''">
    <p> You searched for:</p>
    <p style="background-color: #3b5998;height: 20px">{{ searchInputText }}</p>
  </span>


  <div [ngClass]="{addBorder: addBorderNGClass}">
    <p>ngClass Directive</p>
  <button (click)="addBorderNGClass = !addBorderNGClass">Toggle Border</button>
  </div>

  <app-course></app-course>

<!--   Template Reference Value-->

  <input type="text"  #templateReferenceVariable  (keyup)="0" placeholder="Input Text"/>
  <p>{{templateReferenceVariable.value}}</p>
  <button (click)="templateReferenceVariableFunction(templateReferenceVariable)">Search</button>



<!--   Template Reference Value Over component-->
  <app-customer-list #customer></app-customer-list>
  <p>you have selected this customer -> {{customer.selectedCustomer.name}}</p>

<!--  <p>This data come from a child component to the app component: text ->  {{childComponent.viewChildInput}}</p>-->


<!--   View Child Component   -->
  <app-view-child></app-view-child>
  <button (click)="alertViewChildData()">Click me</button>


</div>


<app-footer></app-footer>

</body>
</html>
